.contentContainer {
    padding-left:2.5%;
    padding-right:2.5%;
}

body {
}

div {
    display: block;
}

#refreshButton, #newFood {
    /*border-radius: 4px;
    background-color: white;*/
    margin-bottom: 5px;
    margin-left: 15px;
}


/*#foodHeader {
    height: 250px;
    margin-top: -40px;
    margin-bottom: 20px;
    color: white;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

#foodHeaderInfo {
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) );
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}*/

#foodContent {
    padding: 20px;
    padding-top: 5px;
    background-color:white;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.list-group-item {
    background-color: #f7f7f7;
    font-size: 12px;
    line-height: 20px;
}

hr{
    height: 5px;
    border-style: solid;
    border-color: #da5849;
    border-width: 1px 0 0 0;
}

/*@media screen and (min-width: 500px) {
    #foodHeader {
        height: 325px;
    }
}

@media screen and (min-width: 1024px) {
    #foodHeader {
        height: 400px;
    }
}*/

#previousAndNextButton {
    margin-left: 0px;
}
#foodNavigationPrevious {
    margin-right: 5px;
}
