.contentContainer {
    padding-left:2.5%;
    padding-right:2.5%;
}

body {
}

div {
    display: block;
}

#newFood {
    margin-bottom: 5px;
    margin-left: 15px;
}

#collectionNavDiv {
    margin-bottom: 5px;
    margin-left: 1px;
}

#foodContent {
    padding: 20px;
    padding-top: 5px;
    background-color:white;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.list-group-item {
    background-color: #f7f7f7;
    font-size: 12px;
    line-height: 20px;
}

hr{
    height: 5px;
    border-style: solid;
    border-color: #da5849;
    border-width: 1px 0 0 0;
}

/*@media screen and (min-width: 500px) {
    #foodHeader {
        height: 325px;
    }
}

@media screen and (min-width: 1024px) {
    #foodHeader {
        height: 400px;
    }
}*/

#previousAndNextButton {
    margin-left: 0px;
}
#foodNavigationPrevious {
    margin-right: 5px;
}
