
body {
   overflow:hidden;
}

#appToolbar {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #da5849;
    color:white;
}

/*#appToolbar .win-splitviewpanetoggle {
    float: left;
}*/

/* SplitView pane content style*/
#appToolbar.header {
    white-space: nowrap;
}

/*#appToolbar.header .title {
    font-size: 25px;
    left: 50px;
    margin-top: 10px;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    color:white;
}*/

#appToolbar .win-commandglyph {
    color:white;
}

.content,

#app {
    height: 100%;
}

#app .nav-commands {
    margin-top: 20px;
    /*color:white;*/
}

.panearea {
    /*background-color: #da5849;*/
}

.win-splitviewcommand-button {
    background-color: transparent;
    /*color:white;*/
}

button.win-splitviewpanetoggle {
    color:white;
}

#app .win-splitview-pane-closed .win-splitviewcommand-label {
    /*  Make sure pane content doesn't scroll if 
    SplitViewCommand label receives focus while pane is closed.
    */
    visibility: hidden;
}

/*SplitView content style*/
#app .win-splitview-content {
    height:100%;
    background-color: #f7f7f7;
    overflow-y: auto;
    overflow-x: hidden;
    /*padding-bottom: 20%;*/
}

#app .contenttext {
    margin-left: 20px;
}

.form-control {
    width: 100%;
}

.form-full input, .form-control textarea, .win-slider {
    width: 100%;
}

.form-full select {
    width: 100%;
}

#content-host {
    margin-bottom: 8%;
}

/*.content-card {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.content-card:hover {
    background-color: #E6E6E6;
}*/

.win-ring{
    width: 58.25px;
    height: 58.25px;
}

.win-button{
    /*border-radius: 4px;*/
}

.specialButton{
    /*border: 1px solid rgb(255,64,129);*/
    border-radius: 4px;
    background-color: rgb(255,64,129);
}

.specialButton:hover{
    /*background-color: #337ab7;*/
    /*border: 1px solid #337ab7;*/
    /*border: 1px solid rgb(255,64,129);
    border-radius: 4px;
    color: rgb(255,64,129);
    background-color: white;*/
}

.specialButton:hover{
    /*color: #337ab7;
    border: 1px solid #337ab7;*/
}

.previousButton, .nextButton{
    opacity: 0.3;
    border: none;
}

/*.previousButton:hover, .nextButton:hover {
    cursor: pointer;
}*/



.div-clickable:hover, .txt-clickable:hover {
    cursor: pointer;
}

.txt-clickable:hover {
    color: #337ab7;
}

.contentView, .contentLike{
    color: #808080;
}

h4 , h3, h6{
    color: rgb(255,64,129);
}

/*h4:hover, h3:hover, h6:hover{
    color: #337ab7;
}*/

h6{
    font-size: 14px;
}

h5{
    font-size: 16px;
}


hr{
    height: 10px;
    border-style: solid;
    border-color: #da5849;
    border-width: 1px 0 0 0;
}